@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');


* {
  font-family: 'Red Hat Display', sans-serif !important;
}

html,
body{
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}



/* fieldset,
input[aria-invalid="false"],
input[aria-invalid="false"]:focus {
  outline: none;
  box-shadow: none;
  border-color: rgba(156, 163, 175, 1) !important;
}
input[aria-invalid="true"]{
  border-color:rgb(221, 40, 8) !important;
} */